<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhiLipsStack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PhiLipsStackOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Sample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4D135CD1B0C91ED00832472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D135D81B0C91ED00832472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D135EE1B0C920200832472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D135F81B0C920200832472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D136181B0CB6F700832472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D1362F1B0CB6F700832472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
